body {
	width: fit-content;
    overflow-x: hidden;  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #99b3ff;
  background-color: none;
  font-size: 20px;	
 
}

#jk{
	font-size: 31px;
	font-family: 'Cinzel', serif;
}

li {
  float: left;
   color: #99b3ff;
  background-color: none;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   color: #99b3ff;
  background-color: none;
}

li a:hover:not(.active) {
  color: gray;
  background-color: #f5f5f0;
  border-radius: 10px;
  text-decoration: none;
}

.active {
   color: #99b3ff;
  background-color:none	;
  border-radius: 10px;
}

#nav-bar{
		width: 100%;
		height: 100%;
		opacity: 10;
		position: static;
		background-image: url('b5.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	padding: -20px;
	margin: 0;
	font-size: 18px;
	height: 750px;
}


#do {
	position: relative;
	top: -350px;
	left: 0px;
  	background-color: none;
  	color: /*#3399ff*/ 	/*#7e8eeb*/  #0275d8;
 	padding-top:10em;
  	text-decoration: none;
  	font-family: 'Life Savers', cursive;
}

#btn0{
	position: relative;
	top: -300px;
	left: 0px;
}


#con{
	height: 650px;
	background: none; /* linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/
	color: 	 #884dff;
}


#c1{
 	position: relative;
	top: 30px;
	background-color: none;
}

#conh{
	position: relative;
	top: 69px;
	font-size: 50px;
}

#conh2{
	position: relative;
	top: 80px;
	font-size: 24px;
}

#btn1{
	position: relative;
	top: 120px;
	
}

#abouts{
	position: relative;
	top: -31px;
}

#about{
	height: 670px;
	background-color: #f5f5f0;
}

.vl {
  border-left: 2px solid gray;
  height: 450px;
  position: relative;
  top: 80px;

}

#ski{
	height: 1000px;
}

#htmll{
	height: 90px;
	width: 110px;
	border-radius: 20%;
}

#cssa{
	height: 90px;
	width: 85px;
	border-radius: 20%;
}

#bta{
	height: 90px;
	width: 90px;
	border-radius: 20%;
}

#cp{	
	height: 90px;
	width: 80px;
	border-radius: 20%;
}

#pyt{
	height: 90px;
	width: 90px;
	border-radius: 20%;
}

#cta{
	font-family: 'Marvel', sans-serif;
	font-size: 48px;
	height: 90px;
	background-color: #f5f5f0;
}

#promobanner{
	height: 150px;
	padding: none;
	margin: none;
	width: 100%;	
	background-color: black;
	color: white;
}

#pp{
/*	text-decoration: none;
	position: relative;
	top: 28px;
	left: 50%;
*/	font-size: 32px;
}

#contact{
	background-color: #f5f5f0;
}

.fa {
	border-radius: 50px;
  padding: 32px;
  font-size: 32px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 20px 10px;
 /* position: relative;
  left: 90px;
  top: 35px;
*/}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
	background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

#ft{
	/*position: relative;
	top: 35px;
	left: 123px;
	*/font-size: 20px;
}

#footer{
	font-size: 22px;
}

::-webkit-scrollbar
{
	width: 9px;
}

::-webkit-scrollbar-thumb
{
	background: #969c94;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
	background: #6e756b;

}